<div class="form-container">
  <h2>Registro de Negocio</h2>

  <form [formGroup]="businessForm" (ngSubmit)="onSubmit()">

    <label>
      Nombre del Negocio:
      <input formControlName="name" placeholder="Nombre" />
    </label>

    <label>
      Descripción:
      <textarea formControlName="description" placeholder="Descripción"></textarea>
    </label>

    <label>
      Ciudad:
      <div *ngIf="loadingCities" class="city-loading">
        <span class="loader"></span>
        <small>Cargando ciudades...</small>
      </div>
      <select *ngIf="!loadingCities" formControlName="locationId">
        <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
      </select>
    </label>

    <label>
      Categorías:
      <ng-multiselect-dropdown
        [data]="categories"
        formControlName="categories"
        [settings]="dropdownSettings"
        [ngModel]="businessForm.get('categories')?.value"
        (onSelect)="onCategoryChange()"
        (onDeSelect)="onCategoryChange()"
        (onSelectAll)="onCategoryChange()"
        (onDeSelectAll)="onCategoryChange()"
      ></ng-multiselect-dropdown>

    </label>


    <div *ngIf="error" class="error-box">
      {{ error }}
      <span class="close-btn" (click)="error = null">✖</span>
    </div>

    <div *ngIf="success" class="success-box">
      {{ success }}
      <span class="close-btn" (click)="success = null">✖</span>
    </div>

    <div class="button-center">
      <button type="submit">Registrar</button>
    </div>
  </form>
</div>
