<nav class="navbar" *ngIf="isLoggedIn">
    <div class="navbar-left">
      <i class="fa-solid fa-house" (click)="redirectToHome()"></i>
    </div>
    <div class="navbar-right">
      <div class="dropdown">
        <i class="fa-solid fa-user dropdown-toggle"></i>
        <div class="dropdown-menu">
          <button *ngIf="authorizedUser"  (click)="redirectToFavorites()">Mis Favoritos</button>
          <button *ngIf="authorizedUser"  (click)="redirectToRoutes()">Mis Rutas</button>
          <button *ngIf="isLoggedIn"  (click)="redirectToPerfil()">Mi perfil</button>
          <button *ngIf="authorizedAdmin"  (click)="redirectToAdmin()">Panel de admin</button>
          <button (click)="logout()">Cerrar Sesión</button>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
